In [ ]:
import pandas as pd
import numpy as np
import os

In [ ]:
os.listdir()

In [ ]:
df1=pd.read_csv('Status_IUCN.csv', encoding = 'latin-1')
df1

In [ ]:
df1.drop('Unnamed: 0', axis=1, inplace=True)

In [ ]:
df1[df1.CommonName.isna()]

In [ ]:
df1.CommonName.value_counts()

In [ ]:
df1.loc[df1.CommonName=='Black_headed_Uacari', 'Status']='VU'

In [ ]:
df1.loc[df1.CommonName=='Mountain_Dwarf_Galago']
#df1 = df1.drop(344)

In [ ]:
df1.loc[df1.CommonName=='Black_crowned_Dwarf_Marmoset']
df1=df1.drop(279)

In [ ]:
df1.loc[df1.CommonName=='Tanzania_Coast_Dwarf_Galago']
df1=df1.drop(346)

In [ ]:
df1.loc[df1.CommonName=='Rondo_Dwarf_Galago']
df1=df1.drop(345)

In [ ]:
df1.CommonName.value_counts()

In [ ]:
df1.loc[df1.CommonName=='Kenya_Coast_Dwarf_Galago']
df1=df1.drop(342)

In [ ]:
df1.loc[df1.CommonName=='Black_headed_Uacari']
df1=df1.drop(51)

In [ ]:
df1.loc[df1.CommonName=='Mozambique_Dwarf_Galago']
df1=df1.drop(343)

In [ ]:
os.chdir('Cleaned DF')

In [ ]:
df1.to_csv('IUCN_Status.csv')

In [ ]:
os.chdir('/Users/lucilleartigaud/Ironhack/Cours/806_Repo/Projects/PROJECT_WEEK_5')
df2=pd.read_csv('df_habitat_cleaned.csv', encoding = 'latin-1')

In [ ]:
df2.drop('Unnamed: 0', axis=1, inplace=True)

In [ ]:
df2.CommonName.value_counts()

In [ ]:
df2.loc[df2.CommonName=='Black_headed_Uacari']
df2=df2.drop(50)

In [ ]:
df2.loc[df2.CommonName=='Mountain_Dwarf_Galago']
df2=df2.drop(344)

In [ ]:
df2.loc[df2.CommonName=='Black_crowned_Dwarf_Marmoset']
df2=df2.drop(279)

In [ ]:
df2.loc[df2.CommonName=='Tanzania_Coast_Dwarf_Galago']
df2 = df2.drop(346)

In [ ]:
df2.loc[df2.CommonName=='Rondo_Dwarf_Galago']
df2=df2.drop(345)

In [ ]:
df2.CommonName.value_counts()

In [ ]:
df2.loc[df2.CommonName=='Kenya_Coast_Dwarf_Galago']
df2=df2.drop(342)

In [ ]:
df2.loc[df2.CommonName=='Mozambique_Dwarf_Galago']
df2=df2.drop(343)

In [ ]:
df2.isna().sum()

In [ ]:
df1.isna().sum()

In [ ]:
df1.Status = df1.fillna('Unrated')

In [ ]:
os.chdir('Cleaned DF')
df1.to_csv('IUCN_Status.csv')

In [ ]:
df2.to_csv('Cleaned Habitat')

In [ ]:
os.chdir('/Users/lucilleartigaud/Ironhack/Cours/806_Repo/Projects/PROJECT_WEEK_5')

In [ ]:
os.chdir('Cleaned DF')

In [ ]:
df1.shape

In [ ]:
df1

In [ ]:
df2

In [ ]:
pd.concat([df1,df2], axis=1)

In [ ]:
os.chdir('/Users/lucilleartigaud/Ironhack/Cours/806_Repo/Projects/PROJECT_WEEK_5')

df1=pd.read_csv('Status_IUCN.csv', encoding='latin-1')
df1

In [ ]:
df1.drop('Unnamed: 0', axis=1, inplace=True)

In [ ]:
df1.drop(['Family', 'Genus'], axis=1, inplace=True)

In [ ]:
df1.CommonName.value_counts()

In [ ]:
df1.loc[df1.CommonName=='Black_headed_Uacari']
df1=df1.drop(51)

In [ ]:
df1.loc[df1.CommonName=='Mountain_Dwarf_Galago']
df1=df1.drop(344)

In [ ]:
df1.loc[df1.CommonName=='Black_crowned_Dwarf_Marmoset']
df1=df1.drop(279)

In [ ]:
df1.loc[df1.CommonName=='Tanzania_Coast_Dwarf_Galago']
df1=df1.drop(346)

In [ ]:
df1.loc[df1.CommonName=='Rondo_Dwarf_Galago']
df1=df1.drop(345)

In [ ]:
df1.CommonName.value_counts()

In [ ]:
df1.loc[df1.CommonName=='Mozambique_Dwarf_Galago']
df1=df1.drop(343)

In [ ]:
df1.loc[df1.CommonName=='Kenya_Coast_Dwarf_Galago']
df1=df1.drop(342)

In [ ]:
df1.Status=df1.Status.fillna('Unrated')

In [ ]:
df1.dropna(subset = ["CommonName"], inplace=True)

In [ ]:
df1.isna().sum()

In [ ]:
os.chdir('Cleaned DF')
df1.to_csv('IUCN.csv')

In [ ]:
df1

In [ ]:
df2=pd.read_csv('Cleaned Habitat', encoding='latin-1')
df2

In [ ]:
df2.drop('Unnamed: 0', axis=1, inplace=True)

In [ ]:
df2.dropna(subset = ["CommonName"], inplace=True)

In [ ]:
df2.drop(['Family', 'Genus'], axis=1, inplace=True)

In [ ]:
df2.to_csv('Cleaned Habitat')

In [ ]:
df1.join(df2,on='CommonName')

In [ ]:
df1.set_index('CommonName')
df2.set_index('CommonName')

In [ ]:
df1

In [ ]:
df1.set_index('CommonName').join(df2.set_index('CommonName'))

df_hab_stat=df1.set_index('CommonName').join(df2.set_index('CommonName'))
df_hab_stat.to_csv('DF with joined habitat & status')

In [ ]:
os.chdir('/Users/lucilleartigaud/Ironhack/Cours/806_Repo/Projects/PROJECT_WEEK_5')
df3=pd.read_csv('BodyMass_cleaned.csv', encoding='latin-1')
df3

In [ ]:
df3.drop('Unnamed: 0', axis=1, inplace=True)

In [ ]:
df3

In [ ]:
df3.CommonName.value_counts()

In [ ]:
mean = df3.loc[df3.CommonName=='Fat_tailed_Dwarf_Lemur', 'Average_Weight'].mean()

In [ ]:
df3.loc[df3.CommonName=='Fat_tailed_Dwarf_Lemur', 'Average_Weight']=mean

In [ ]:
df3.loc[df3.CommonName=='Fat_tailed_Dwarf_Lemur', 'Average_Weight']

In [ ]:
df3=df3.drop([140,141])

In [ ]:
def fn(name):
    mean = df3.loc[df3.CommonName==name, 'Average_Weight'].mean()
    df3.loc[df3.CommonName==name, 'Average_Weight']=mean
    return df3.loc[df3.CommonName==name, 'Average_Weight']

In [ ]:
fn('Rufous_Brown_Lemur')
df3=df3.drop([199,200])

In [ ]:
fn('Black_Lemur')
df3=df3.drop([190,191])

In [ ]:
df3.CommonName.value_counts()

In [ ]:
fn('Gray_Bamboo_Lemur')
df3=df3.drop([224,225])

In [ ]:
fn('Verreaux_s_Sifaka')
df3=df3.drop([535,536])

In [ ]:
fn('Medem_s_Titi')
df3=df3.drop(149)

In [ ]:
fn('Goodman_s_Mouse_Lemur')
df3=df3.drop(371)

In [ ]:
df3.CommonName.value_counts()

In [ ]:
fn('Mozambique_Dwarf_Galago')
df3=df3.drop([212,427])

In [ ]:
fn('Nosy_Be_Mouse_Lemur')
df3=df3.drop(374)

In [ ]:
fn('Hatinh_Langur')
df3=df3.drop(613)

In [ ]:
fn('Tattersall_s_Sifaka')
df3=df3.drop(533)

In [ ]:
fn('Black_headed_Uacari')
df3=df3.drop(64)

In [ ]:
df3.shape

In [ ]:
df3.CommonName.value_counts()

In [ ]:
def fn(name, df3=df3):

    mean = df3.loc[df3.CommonName==name, 'Average_Weight'].mean()
    df3.loc[df3.CommonName==name, 'Average_Weight']=mean
    todrop = df3.loc[df3.CommonName==name, 'Average_Weight'].index[1]
    df3=df3.drop(todrop)
    return df3.loc[df3.CommonName==name]

In [ ]:
df3.loc[df3.CommonName=='Southern_Bahian_Titi', 'Average_Weight'].index

In [ ]:
fn('Southern_Bahian_Titi')

In [ ]:
df3=df3.drop(df3.loc[df3.CommonName=='Southern_Bahian_Titi', 'Average_Weight'].index[1])

In [ ]:
fn('Vervet_Monkey')

In [ ]:
df3.CommonName.value_counts()

In [ ]:
df3.loc[df3.CommonName=='Delacour_s_Langur']

In [ ]:
fn('Delacour_s_Langur')

In [ ]:
fn('Tsiombikibo_Sportive_Lemur')

In [ ]:
fn('Red_fronted_Brown_Lemur')

In [ ]:
fn('Tantalus_Monkey')

In [ ]:
fn('Northern_Bamboo_Lemur')

In [ ]:
df3.CommonName.value_counts()

In [ ]:
fn('Delacour_s_Langur')

In [ ]:
df3.CommonName.value_counts()

In [ ]:
def fn(name, df3=df3):

    mean = df3.loc[df3.CommonName==name, 'Average_Weight'].mean()
    df3.loc[df3.CommonName==name, 'Average_Weight']=mean
    
    return df3.loc[df3.CommonName==name, 'Average_Weight'].index[1]

def todrop(name, df3=df3):
    todrop = df3.loc[df3.CommonName==name, 'Average_Weight'].index[1]
    df3=df3.drop(todrop)
    
    return df3.loc[df3.CommonName==name]

In [ ]:
df3.CommonName.value_counts()

In [ ]:
fn('Mittermeier_s_Sportive_Lemur')

In [ ]:
df3=df3.drop(290)

In [ ]:
fn('Red_fronted_Brown_Lemur')

In [ ]:
df3=df3.drop(197)

In [ ]:
fn('Tantalus_Monkey')

In [ ]:
df3=df3.drop(168)

In [ ]:
df3.shape

In [ ]:
fn('Northern_Bamboo_Lemur')
df3=df3.drop(229)

In [ ]:
fn('Bemaraha_Woolly_Lemur')
df3=df3.drop(47)

In [ ]:
df3.CommonName.value_counts()

In [ ]:
fn('Greater_Bamboo_Lemur')
df3=df3.drop(519)

In [ ]:
fn('Siberut_Macaque')
df3=df3.drop(335)

In [ ]:
fn('Tavaratra_Mouse_Lemur')
df3=df3.drop(392)

In [ ]:
fn('Coimbra_Filho_s_Titi')
df3=df3.drop(70)

In [ ]:
fn('Rufous_Mouse_Lemur')
df3=df3.drop(386)

In [ ]:
fn('Sanford_s_Brown_Lemur')
df3=df3.drop(202)

In [ ]:
fn('Peyrieras_s_Woolly_Lemur')
df3=df3.drop(55)

In [ ]:
fn('Peters_s_Mouse_Lemur')
df3=df3.drop(382)

In [ ]:
fn('Manombo_Sportive_Lemur')
df3=df3.drop(282)

In [ ]:
fn('Panamanian_White_faced_Capuchin')
df3=df3.drop(93)

In [ ]:
df3.CommonName.value_counts()

In [ ]:
fn('Golden_brown_Mouse_Lemur')
df3=df3.drop(384)

In [ ]:
fn('Greater_Dwarf_Lemur')
df3=df3.drop(138)

In [ ]:
fn('Masoala_Fork_marked_Lemur')
df3=df3.drop(437)

In [ ]:
fn('Black_crowned_Dwarf_Marmoset')
df3=df3.drop(349)

In [ ]:
fn('Montagne_D__Ambre_Fork_marked_Lemur')
df3=df3.drop(435)

In [ ]:
fn('Kenya_Coast_Dwarf_Galago')
df3=df3.drop(426)

In [ ]:
fn('Ankarana_Sportive_Lemur')
df3=df3.drop(269)

In [ ]:
fn('Mountain_Dwarf_Galago')
df3=df3.drop(428)

In [ ]:
fn('Antafia_Sportive_Lemur')
df3=df3.drop(265)

In [ ]:
fn('Ka_apor_Capuchin')
df3=df3.drop(95)

In [ ]:
df3.CommonName.value_counts()

In [ ]:
fn('Ambodimahabibo_Sportive_Lemur')
df3=df3.drop(294)

In [ ]:
fn('Anjiamangirana_Sportive_Lemur')
df3=df3.drop(278)

In [ ]:
fn('Black_and_white_Ruffed_Lemur')
df3=df3.drop(628)

In [ ]:
fn('Milne_Edwards_s_Sportive_Lemur')
df3=df3.drop(275)

In [ ]:
fn("Preuss_s_Monkey")
df3=df3.drop(7)

In [ ]:
fn('Golden_bellied_Mangabey')
df3=df3.drop(106)

In [ ]:
fn('Small_toothed_Sportive_Lemur')
df3=df3.drop(286)

In [ ]:
def fn(name, df3=df3):

    mean = df3.loc[df3.CommonName==name, 'Average_Weight'].mean()
    df3.loc[df3.CommonName==name, 'Average_Weight']=mean
    todrop = df3.loc[df3.CommonName==name, 'Average_Weight'].index[1]
    return todrop

In [ ]:
df3.loc[df3.CommonName=='Allen_s_Swamp_Monkey']

In [ ]:
df=df3.drop(fn('Allen_s_Swamp_Monkey'))

In [ ]:
df3.loc[df3.CommonName=='Allen_s_Swamp_Monkey']

In [ ]:
df3.CommonName.value_counts()

In [ ]:
a=fn('Crowned_Lemur')
df3=df3.drop(a)

In [ ]:
a=fn('Brown_Lemur')
df3=df3.drop(a)

In [ ]:
a=fn('Decken_s_Sifaka')
df3=df3.drop(a)

In [ ]:
df3.CommonName.value_counts()

In [ ]:
a=fn('Diademed_Sifaka')
df3=df3.drop(a)

In [ ]:
a=fn('Coquerel_s_Giant_Mouse_Lemur')
df3=df3.drop(a)

In [ ]:
df3.CommonName.value_counts()

In [ ]:
df3.isna().sum()

In [ ]:
df3.dropna(subset = ["CommonName"], inplace=True)

In [ ]:
os.chdir('/Users/lucilleartigaud/Ironhack/Cours/806_Repo/Projects/PROJECT_WEEK_5/Cleaned DF')
df=pd.read_csv('DF with joined habitat & status')


df_joined = df.set_index('CommonName').join(df3.set_index('CommonName'))
df_joined.to_csv('joined_habitat_IUCN_weight.csv')

In [ ]:
df3.to_csv('weight.csv')

In [ ]:
os.chdir('/Users/lucilleartigaud/Ironhack/Cours/806_Repo/Projects/PROJECT_WEEK_5')

In [ ]:
df=pd.read_csv('HomeRange.csv', encoding='latin-1')

In [ ]:
df.head()

In [ ]:
df.drop(['Family', 'Genus', 'Species', 'Species (ITIS)', 'Low_range','High_range', 'N_groups', 'Method', 'Alternative_HomeRange_ha', 'Alternative_HomeRange_method', 'Study_duration_months', 'Refs'], axis=1, inplace=True)

In [ ]:
df.drop('Mean_individuals', axis=1, inplace=True)

In [ ]:
def fn(name, df=df):

    mean = df.loc[df.CommonName==name, 'HomeRange_ha'].mean()
    df.loc[df.CommonName==name, 'HomeRange_ha']=mean
    
    return df.loc[df.CommonName==name].index[1:]

In [ ]:
df.CommonName.value_counts()

In [ ]:
df.loc[df.CommonName=='Central_American_Spider_Monkey']

In [ ]:
fn('Central_American_Spider_Monkey')
df=df.drop([52, 53, 54, 55, 56, 57])

In [ ]:
fn('White_bellied_Spider_Monkey')
df=df.drop([44, 45, 46, 47, 48])

In [ ]:
df.CommonName.value_counts()

In [ ]:
fn('Colombian_White_faced_Capuchin')
df=df.drop([115, 116, 117, 118, 119])

In [ ]:
a=fn('Grivet_Monkey')
df=df.drop(a)

In [ ]:
df.loc[df.CommonName=='Grivet_Monkey']

In [ ]:
a=fn('Japanese_Macaque')
df=df.drop(a)

In [ ]:
a=fn('Pied_Tamarin')
df=df.drop(a)

In [ ]:
df.shape

In [ ]:
df.CommonName.value_counts()

In [ ]:
df.shape
os.chdir('/Users/lucilleartigaud/Ironhack/Cours/806_Repo/Projects/PROJECT_WEEK_5/Cleaned DF')
df.to_csv('home_range_cleaned.csv')

In [ ]:
df1=pd.read_csv('joined_habitat_IUCN_weight.csv')


df_joined = df.set_index('CommonName').join(df1.set_index('CommonName'))
df_joined.to_csv('joined_habitat_IUCN_weight_homerange.csv')

In [ ]:
os.chdir('/Users/lucilleartigaud/Ironhack/Cours/806_Repo/Projects/PROJECT_WEEK_5')
df=pd.read_csv('Locomotion.csv', encoding='latin-1')

In [ ]:
df.Locomotion.unique()

In [ ]:
df.drop(['Family', 'Genus', 'Species', 'Species (ITIS)', 'Refs'], axis=1, inplace=True)

In [ ]:
df.CommonName.value_counts()

In [ ]:
df.loc[df.CommonName=='Olive_Baboon', 'Locomotion']='BOTH'
df.loc[df.CommonName=='Olive_Baboon']
df=df.drop(351)

In [ ]:
df.loc[df.CommonName=='Pig_tailed_Langur', 'Locomotion']='BOTH'
df.loc[df.CommonName=='Pig_tailed_Langur']
df=df.drop(513)

In [ ]:
df.loc[df.CommonName=='Stump_tailed_Macaque', 'Locomotion']='BOTH'
df.loc[df.CommonName=='Stump_tailed_Macaque']
df=df.drop(252)

In [ ]:
df.loc[df.CommonName=='Francois_s_Langur', 'Locomotion']='BOTH'
df.loc[df.CommonName=='Francois_s_Langur']
df=df.drop(535)

In [ ]:

df.loc[df.CommonName=='Siberut_Macaque', 'Locomotion']='T & AR'
df.loc[df.CommonName=='Siberut_Macaque']
df=df.drop(276)

In [ ]:
df.loc[df.CommonName=='Black_headed_Uacari']
df=df.drop(50)

In [ ]:
df.dropna(subset = ["CommonName"], inplace=True)

In [ ]:
df.loc[df.CommonName=='Chamba_Sacred_Langur']
df.loc[df.CommonName=='Chamba_Sacred_Langur', 'Locomotion']='T & AR'
df=df.drop(502)

In [ ]:
os.chdir('/Users/lucilleartigaud/Ironhack/Cours/806_Repo/Projects/PROJECT_WEEK_5/Cleaned DF')
df.to_csv('locomotion_cleand.csv')

In [ ]:
df1=pd.read_csv('joined_habitat_IUCN_weight_homerange.csv', encoding='latin-1')

df_joined = df.set_index('CommonName').join(df1.set_index('CommonName'))
df_joined.to_csv('joined_habitat_IUCN_weight_homerange_locomotion.csv')

In [ ]:
df_joined

In [ ]:
os.chdir('/Users/lucilleartigaud/Ironhack/Cours/806_Repo/Projects/PROJECT_WEEK_5')
df=pd.read_csv('DielActivity-3.csv', encoding='latin-1')
df

In [ ]:
df.drop(['Family', 'Genus', 'Species', 'Species (ITIS)', 'Refs'], axis=1, inplace=True)

In [ ]:
df.DielActivity.value_counts()

In [ ]:
df.CommonName.value_counts()

In [ ]:
df.loc[df.CommonName=='Tanzania_Coast_Dwarf_Galago']
df=df.drop(347)

In [ ]:
df.loc[df.CommonName=='Black_crowned_Dwarf_Marmoset']
df=df.drop(280)

In [ ]:
df.dropna(subset = ["CommonName"], inplace=True)

In [ ]:
df.fillna('Unspecified')

In [ ]:
os.chdir('/Users/lucilleartigaud/Ironhack/Cours/806_Repo/Projects/PROJECT_WEEK_5/Cleaned DF')
df.to_csv('DielActivity_cleaned.csv')

In [ ]:
os.chdir('/Users/lucilleartigaud/Ironhack/Cours/806_Repo/Projects/PROJECT_WEEK_5/Cleaned DF')
df1=pd.read_csv('joined_habitat_IUCN_weight_homerange_locomotion.csv', encoding='latin-1')

df_joined = df.set_index('CommonName').join(df1.set_index('CommonName'))
df_joined.to_csv('joined_habitat_IUCN_weight_homerange_locomotion_activity.csv')

In [2]:
import os
import pandas as pd
import numpy as np

In [3]:
os.chdir('/Users/lucilleartigaud/Ironhack/Cours/806_Repo/Projects/PROJECT_WEEK_5')
df=pd.read_csv('TrophicGuild.csv', encoding='latin-1')
df

ParserError: Error tokenizing data. C error: Expected 1 fields in line 273, saw 2

In [ ]:
df.drop(['Family', 'Genus', 'Species', 'Species (ITIS)', 'Refs', 'Region','Data_type', 'Study_duration_months', 'N_groups', 'Mean_individuals', 'Comments', 'Unnamed: 22' ], axis=1, inplace=True)

In [ ]:
df.isna().sum()

In [ ]:
df.dropna(subset = ["CommonName"], inplace=True)

In [ ]:
df.CommonName.value_counts()

In [ ]:
df.loc[df.CommonName=='Rhesus_Macaque']
df=df.drop(282)

In [ ]:
df.TrophicGuild.unique()

In [ ]:
df.loc[df.Country.isna()]

In [ ]:
df.loc[df.CommonName=="Sheth's_Dwarf_Lemur"]

In [ ]:
#df.drop(['Fruits', 'Flower', 'rophicGuild'], axis=1, inplace=True)

In [104]:
os.chdir('/Users/lucilleartigaud/Ironhack/Cours/806_Repo/Projects/PROJECT_WEEK_5')

In [105]:
df=pd.read_csv('TEST.csv',error_bad_lines=False, sep=';')

In [106]:
df.loc[df.CommonName=='Shortridge_s_Langur']

,Unnamed: 0,CommonName,TrophicGuild,Fruit,Leaves,Flowers,Seeds,Animal,Gums,Nectar,Other,Country
515,566,Shortridge_s_Langur,Folivore,NI,NI,NI,NI,NI,NI,NI,NI,Birmania

In [171]:
df.Country.unique()

array(['Congo', 'Madagascar', 'Cameroon', 'Brazil', 'Belize', 'Peru',
       'Colombia', 'Ecuador', 'Paraguay', 'Bolivia', 'Surinam', 'Guinea',
       'Borneo', 'Cte d\x92Ivoire', 'Kenya', 'Togo', 'Benine',
       'South Africa', 'Ethiopia', 'Senegal', 'Nigeria', 'Rwanda',
       'Ghana', 'Sudan', 'Somalia', 'Burundi', 'Mozambique', 'Angola',
       'India', 'China', 'Indonesia', 'Uganda', 'Sri Lanka', 'Thailand',
       'Japan', 'Morocco', 'Gabon', 'Laos', 'Vietnam', 'Malaysia', 'Java',
       'Philipines', 'Zimbabwe', 'Democratic Republic of Congo',
       'South Africa & Lesotho', 'Sierra Leone', 'Niger', 'Tanzania',
       'Sumatra', 'Panama', 'Guiana', 'Venezuela', 'Bangladesh',
       'Birmania'], dtype=object)

In [108]:
df['Region']=df.Country

In [195]:
df.loc[df['Region']=='China', 'Region']='East Asia'

In [173]:
df.loc[df['Country']=='South Africa & Lesotho', 'Country']='Lesotho'

In [196]:
df.Region.unique()

array(['West Africa', 'Madagascar', 'North West Africa', 'South America',
       'Central America', 'South East Asia', 'East Africa',
       'South Africa', 'Central Africa', 'East Asia', 'North Africa'],
      dtype=object)

In [228]:
os.chdir('/Users/lucilleartigaud/Ironhack/Cours/806_Repo/Projects/PROJECT_WEEK_5/Cleaned DF')
df.to_csv('trophicguild_firststep.csv')

In [244]:
df=pd.read_csv('trophicguild_firststep.csv')

In [245]:
df

,Unnamed: 0,Unnamed: 0.1,CommonName,TrophicGuild,Fruit,Leaves,Flowers,Seeds,Animal,Gums,Nectar,Other,Country,Region
0,0,0,Allen_s_Swamp_Monkey,Frugivore,81,0,NI,NI,17,NI,NI,NI,Congo,West Africa
1,1,1,Hairy_eared_Dwarf_Lemur,Omnivore,0,0,NI,NI,50-75,NI,NI,NI,Madagascar,Madagascar
2,2,2,L_Hoest_s_Monkey,Omnivore,31.43,34.71,NI,3.18,10.34,NI,NI,NI,Congo,West Africa
3,3,3,Preuss_s_Monkey,Omnivore,52,0,NI,NI,NI,NI,NI,NI,Cameroon,North West Africa
4,4,4,Sun_tailed_Monkey,Omnivore,26,0,NI,NI,27.5,NI,NI,NI,Congo,West Africa
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
513,513,564,Cat_Ba_Langur,Folivore,0,0,NI,NI,NI,NI,NI,NI,Vietnam,South East Asia
514,514,565,Selangor_Silvery_Langur,Folivore,0,0,NI,NI,NI,NI,NI,NI,Malaysia,South East Asia
515,515,566,Shortridge_s_Langur,Folivore,0,0,NI,NI,NI,NI,NI,NI,Birmania,South East Asia
516,516,567,Red_Ruffed_Lemur,Frugivore,80,10,10,NI,NI,NI,NI,NI,Madagascar,Madagascar
517,517,568,Black_and_white_Ruffed_Lemur,Frugivore,0,0,NI,NI,NI,NI,NI,NI,Madagascar,Madagascar

In [263]:
df.loc[df.Flowers!=0, 'Flowers']=1

In [276]:
df.loc[df.TrophicGuild=='Folivore-frugivore', 'TrophicGuild']='Foli-frugivore'

In [273]:
os.chdir('/Users/lucilleartigaud/Ironhack/Cours/806_Repo/Projects/PROJECT_WEEK_5/Cleaned DF')
df.to_csv('trophicguild_firststep.csv')

In [278]:
df['Insects']=df['Other']

In [281]:
df.loc[df.TrophicGuild=='Insectivore', 'Insects']=1

In [282]:
df.loc[df.TrophicGuild=='Insectivore']

,Unnamed: 0,Unnamed: 0.1,CommonName,TrophicGuild,Fruit,Leaves,Flowers,Seeds,Animal,Gums,Nectar,Other,Country,Region,Insects
28,28,28,Golden_Angwantibo,Insectivore,1,1,0,0,1,0,0,0,Congo,West Africa,1
29,29,29,Calabar_Angwantibo,Insectivore,1,1,0,0,0,0,0,0,Congo,West Africa,1
66,66,69,Philippine_Tarsier,Insectivore,1,1,0,0,0,0,0,0,Brazil,South America,1
81,81,87,Varied_White_fronted_Capuchin,Insectivore,1,1,1,1,1,1,1,1,Guinea,North West Africa,1
83,83,89,Western_Tarsier,Insectivore,1,1,0,0,0,0,0,0,Borneo,South East Asia,1
145,145,154,Aye_aye,Insectivore,1,1,0,1,1,1,1,0,Madagascar,Madagascar,1
246,246,270,Gray_Slender_Loris,Insectivore,1,1,0,0,1,1,0,0,India,South East Asia,1
247,247,271,Red_Slender_Loris,Insectivore,1,1,0,0,0,0,0,0,Sri Lanka,South East Asia,1
471,471,519,Cross_River_Squirrel_Galago,Insectivore,1,1,0,0,0,0,0,0,Cameroon,North West Africa,1
484,484,533,Dian_s_Tarsier,Insectivore,1,1,0,0,0,0,0,0,Indonesia,South East Asia,1
486,486,535,Lariang_Tarsier,Insectivore,1,1,0,0,0,0,0,0,Indonesia,South East Asia,1
487,487,536,Peleng_Tarsier,Insectivore,1,1,0,0,0,0,0,0,Indonesia,South East Asia,1
488,488,537,Sulawesi_Mountain_Tarsier,Insectivore,1,1,0,0,0,0,0,0,Indonesia,South East Asia,1
489,489,538,Great_Sangihe_Tarsier,Insectivore,1,1,0,0,0,0,0,0,Indonesia,South East Asia,1
492,492,541,Selayar_Tarsier,Insectivore,1,1,0,0,1,0,0,0,Indonesia,South East Asia,1
493,493,542,Siau_Island_Tarsier,Insectivore,1,1,0,0,0,0,0,0,Indonesia,South East Asia,1
494,494,543,Wallace_s_Tarsier,Insectivore,1,1,0,0,0,0,0,0,Indonesia,South East Asia,1

In [283]:
df.to_csv('trophicguild_firststep.csv')

In [284]:
df.reindex(columns=['CommonName','Country','Region','TrophicGuild','Fruit','Leaves', 'Flowers', 'Seeds', 'Gums', 'Nectar', 'Animal', 'Insects', 'Other'])

,CommonName,Country,Region,TrophicGuild,Fruit,Leaves,Flowers,Seeds,Gums,Nectar,Animal,Insects,Other
0,Allen_s_Swamp_Monkey,Congo,West Africa,Frugivore,1,1,0,0,0,0,1,0,0
1,Hairy_eared_Dwarf_Lemur,Madagascar,Madagascar,Omnivore,1,1,0,0,0,0,1,0,0
2,L_Hoest_s_Monkey,Congo,West Africa,Omnivore,1,1,0,1,0,0,1,0,0
3,Preuss_s_Monkey,Cameroon,North West Africa,Omnivore,1,1,0,0,0,0,0,0,0
4,Sun_tailed_Monkey,Congo,West Africa,Omnivore,1,1,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
513,Cat_Ba_Langur,Vietnam,South East Asia,Folivore,1,1,0,0,0,0,0,0,0
514,Selangor_Silvery_Langur,Malaysia,South East Asia,Folivore,1,1,0,0,0,0,0,0,0
515,Shortridge_s_Langur,Birmania,South East Asia,Folivore,1,1,0,0,0,0,0,0,0
516,Red_Ruffed_Lemur,Madagascar,Madagascar,Frugivore,1,1,1,0,0,0,0,0,0
517,Black_and_white_Ruffed_Lemur,Madagascar,Madagascar,Frugivore,1,1,0,0,0,0,0,0,0

In [285]:
df.to_csv('trophicguild_firststep.csv')

In [286]:
os.chdir('/Users/lucilleartigaud/Ironhack/Cours/806_Repo/Projects/PROJECT_WEEK_5/Cleaned DF')
df1=pd.read_csv('joined_habitat_IUCN_weight_homerange_locomotion_activity.csv', encoding='latin-1')

df_joined = df.set_index('CommonName').join(df1.set_index('CommonName'))
df_joined.to_csv('DATABASE-MONKEYS.csv')

In [289]:
df_joined

,Unnamed: 0,Unnamed: 0.1,TrophicGuild,Fruit,Leaves,Flowers,Seeds,Animal,Gums,Nectar,...,HomeRange_ha,Status,Habitat_Forest,Habitat_Savanna,Habitat_Shrubland,Habitat_Grassland,Habitat_Wetlands,Habitat_Rocky areas,Habitat_Desert,Average_Weight
CommonName,,,,,,,,,,,,,,,,,,,,,
Allen_s_Swamp_Monkey,0,0,Frugivore,1,1,0,0,1,0,0,...,NaN,LC,1.0,0.0,0.0,0.0,1.0,0.0,0.0,5.30
Hairy_eared_Dwarf_Lemur,1,1,Omnivore,1,1,0,0,1,0,0,...,25.75,VU,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.08
L_Hoest_s_Monkey,2,2,Omnivore,1,1,0,1,1,0,0,...,116.60,VU,1.0,0.0,1.0,0.0,1.0,0.0,0.0,5.00
Preuss_s_Monkey,3,3,Omnivore,1,1,0,0,0,0,0,...,NaN,EN,1.0,0.0,0.0,0.0,0.0,0.0,0.0,3.80
Sun_tailed_Monkey,4,4,Omnivore,1,1,0,0,1,0,0,...,NaN,VU,1.0,0.0,0.0,0.0,0.0,0.0,0.0,5.40
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Cat_Ba_Langur,513,564,Folivore,1,1,0,0,0,0,0,...,30.00,CR,1.0,0.0,1.0,0.0,0.0,0.0,0.0,8.05
Selangor_Silvery_Langur,514,565,Folivore,1,1,0,0,0,0,0,...,31.50,NE,1.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
Shortridge_s_Langur,515,566,Folivore,1,1,0,0,0,0,0,...,NaN,EN,1.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
Red_Ruffed_Lemur,516,567,Frugivore,1,1,1,0,0,0,0,...,24.55,CR,1.0,0.0,0.0,0.0,0.0,0.0,0.0,3.51
Black_and_white_Ruffed_Lemur,517,568,Frugivore,1,1,0,0,0,0,0,...,116.67,CR,1.0,0.0,0.0,0.0,0.0,0.0,0.0,3.58